#container{
//margin: 10px;
}

.header{
background-color:#FCFCF5;
/*border: solid black 4px;*/
  height: 25%;
}
.navleft{
  background-color: #E5E5E5;
  width: 20%;
  height: 71.3%;
  float: left;
  /*border: solid black 4px;*/
}

.navright{
  background-color: #E5E5E5;
  float:right;
  width: 20%;
  height: 71.3%;
  /*border: solid black 4px;*/

}

.navcent{
  margin: auto;
  position: absolute;
  left:20%;
  right: 20%;
  height: 70%;
/*  top: 23%;
  bottom: 5.5%; */
  background-color: #FCFBFA ;
  /*border: solid black 4px;*/

}

.footer{
  clear: both;
  height: 5%;
  /*border: solid black 4px;*/
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

input[type=text], select, textarea {

    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}
